.list{
    text-align: center;
    color: whitesmoke;
}

.form{
    padding: 30px 50px 50px 50px;
    text-align: center;
}

.form h2{
    color: whitesmoke;
}

body{
    background-image: url('assets/img/guitar.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron{
   background: rgba(120, 120, 120, 0.7); 
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   transition: all 0.5s ease; 
}

.jumbotron:hover{ 
    background: rgba(0, 120, 120, 0.7); 

 
}


